---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Platform from "../components/Platform.astro";
import CTA from "../components/CTA.astro";
import UseCase from "../components/UseCase.astro";
---

<Layout>
  <Hero>
        <div>
                <div class="hero-content fade-in-up">
                    <h1>The Most Expressive AI Voice Platform</h1>
                    <p>Generate realistic, human-like voices from text for advertisements, content creation, and more.
                        Transform your words into captivating speech with SpeechWave.</p>
                        <div class="hero-buttons">
                            <a href="/downloads" class="btn btn-primary">Get Started Free</a>
                            <a href="/features" class="btn btn-secondary">Explore Features</a>
                        </div>
                    </div>
            </div>
        </div>
  </Hero>

<Platform />
<UseCase />
<CTA />
</Layout>